<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="routingConfiguration"
               name="System.ServiceModel.Routing.RoutingService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9030/" />
          </baseAddresses>
        </host>
        <!-- Create the Routing Service endpoint -->
        <endpoint address="router"
                  binding="netTcpBinding"
                  name="RoutingServiceEndpoint"
                  contract="System.ServiceModel.Routing.IRequestReplyRouter" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <!-- Set up the Routing Behavior -->
        <behavior name="routingConfiguration">
          <routing filterTableName="filterTable1" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!-- Create the destination endpoints that we want to send to -->
    <client>
      <!-- Create a daily service endpoints-->
      <endpoint name="serveEndpoint1"
                address="net.tcp://localhost:9050/DeliveryService"
                binding="netTcpBinding"
                contract="*" />

      <endpoint name="serveEndpoint1mex"
                address="net.tcp://localhost:9050/DeliveryService/mex"
                binding="mexTcpBinding"
                contract="*" />

      <!-- create the backup service endpoints -->
      <endpoint name="serveEndpoint2"
                address="net.tcp://localhost:9060/DeliveryService"
                binding="netTcpBinding"
                contract="*" />

      <endpoint name="serveEndpoint2mex"
                address="net.tcp://localhost:9060/DeliveryService/mex"
                binding="mexTcpBinding"
                contract="*" />
    </client>
    <routing>
      <filters>
        <!-- Create a MatchAll filter which will catch all messages -->
        <filter name="MatchAllFilter1" filterType="MatchAll" />
        <filter name="MatchAllFilter2" filterType="MatchAll" />
      </filters>
      <filterTables>
        <!-- Set up the Routing Service's Message Filter Table -->
        <filterTable name="filterTable1">
          <!-- Add an entrty that maps the MatchAllMessageFilter to the daily service endpoint -->
          <!-- If that endpoint is down, tell the Routing Service to try the endpoints in backupEndpointList-->
          <add filterName="MatchAllFilter1" endpointName="serveEndpoint1" backupList="backupEndpointList"/>
        </filterTable>
        <filterTable name="filterTable2">
          <!-- Add an entrty that maps the MatchAllMessageFilter to the daily service mex endpoint -->
          <!-- If that endpoint is down, tell the Routing Service to try the endpoints in backupEndpointList-->
          <add filterName="MatchAllFilter2" endpointName="serveEndpoint1mex" backupList="backupEndpointmexList"/>
        </filterTable>
      </filterTables>


      <!-- Create the backup endpoint list -->
      <backupLists>

        <backupList name="backupEndpointList">
          <add endpointName="serveEndpoint2" />
        </backupList>
        <backupList name="backupEndpointmexList">
          <add endpointName="serveEndpoint2mex" />
        </backupList>

      </backupLists>
    </routing>
  </system.serviceModel>
</configuration>
